.App {
  display: grid;
  grid-template-areas: 
  "toolbar toolbar"
  "nav main"
  ;
  grid-template-columns: minmax(100px, 180px) 3fr ;
  grid-template-rows: 5fr 95fr ;
  height:100vh;
  color:#eee;
  overflow: hidden;
}
nav {
  grid-area: nav;
  min-width: 100px;
  max-width: 180px;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient( -30deg, #111, #555) ;
  & a{
    transition: .2s;
    padding: 0.5em ;
    text-decoration: none;
    font-size:large;
    height:auto;
    min-height:22%;
    color:#eee;
    // background: royalblue;
    display: flex;
    align-items: center;
    border-left:  blue 0px solid;
    background: rgba(0,0,0,.2);
    &:hover{
      background: rgba(0,0,0,.3);
    }
  }
  .active{
    border-left:  rgb(255, 90, 0) 2% solid;
    font-size:x-large;
    color: rgb(255, 90, 0);
  }
}
main{
  padding:2%;
  grid-area: main;
  height: 98%;
  width:96%;
  height: 98%;

  overflow-y:scroll;
  overflow-y:scroll;
  background-color: #222;
  &::-webkit-scrollbar {
    display: none;
  } 
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.noFound{
  text-align: center;
  display: flex;
  flex-direction: column;

  
}
.toolbar{
  grid-area: toolbar;
  height:8vh;
  align-items: center;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  p{
    font-size: 5vh;
    font-weight:700;
    width: fit-content;
    margin:auto 0;
  }
  span{
    display: flex;
    flex-direction: row-reverse;
    button{
      color:#eee;
      background-color: black;
      border-radius: 1vh;
      height:2em;
    }
    input{
      transition:.5s;
      outline:none;
      height:2em;
      padding: 0 1em ;
      border-radius:1em/.9em;
      color:#444;
      border:none;
      border-bottom: solid 1px rgba(50,50,50,.8);
      background-color: rgba(100,100,100,.3);
      &:hover{
        background-color: rgba(200,200,200,.3);
        color:#eee;
      }
      &::placeholder{
        color: #333;
      }
    }
    & *{
      margin-left:1em;
    }
  }
  background-image:linear-gradient(58deg, #375, #ff5a00);
}

button{
  cursor: pointer;
}